# Ignore macOS Finder thumbnail files.
*~
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Ignore macOS icons, displayed as Icon? in Finder, effectively Icon\r.
Icon?
# Un-ignore non-macOS icons.
![iI]con[_a-zA-Z0-9]

# Ignore Windows Explorer icons cache.
Thumbs.db

# Add the files to ignore specific to this repository after this line.
*.app
svg2any*.zip
oxipng
rsvg-convert
